{{#each this}}
    <tr>
        <td>{{this.classname}}.{{this.testname}}()</td>
        <td>{{this.fail.failMsg}}</td>
        <td>{{this.fail.numOfFails}}</td>
        <td class="stacktrace"> <span class="stacktrace badge badge-secondary">Show stack trace</span> </td>
    </tr>
    <tr class="animate" style="display:none;">
        <td colspan="4">{{this.fail.stackTrace}}</td>
    </tr>
{{/each}}